{% extends "base.html" %}
{% load static %}
{% block title %}Langall{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>{{lesson.language}}</h2>
            <a href="{% url 'teacher_panel' %}">Vissza a tanár felületre</a>
        </div>
        <hr>
        <div class="row">
            <div class="col-10">
                <p><strong>Tanóra azonosító: </strong>{{lesson.id}}</p>
                <p><strong>Ki tartja: </strong>{{lesson.host_teacher.last_name}} {{lesson.host_teacher.first_name}}</p>
                <p><strong>Diák: </strong>{{lesson.student.last_name}} {{lesson.student.first_name}}</p>
                <p><strong>Helyszín: </strong>{{lesson.location}}</p>
                <p><strong>Megjegyzés: </strong>{{lesson.note}}</p>
                <p><strong>Státusz: </strong>
                    {% if lesson.is_over %}
                    <span class="badge badge-danger">vége</span>
                    {% else %}
                    {% if lesson.is_verified %}
                    <span class="badge badge-teacher">jóváhagyva</span>
                    {% else %}
                    <span class="badge badge-warning">függőben</span>
                    {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}