{% extends "base.html" %}
{% load static %}
{% block title %}Langall{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>{{teacher.last_name}} {{teacher.first_name}}</h2>
            <a href="{% url 'teachers' %}">&#x21e0; Vissza az összes tanárhoz</a>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="teacher-card shadow-1">
                    <div class="teacher-card-header mb-4">
                        <img src="{% static 'img/male_teacher.png' %}" alt="langall tanár" width="40px">
                        <h4 class="m-0 pl-3">{{ teacher.last_name }} {{ teacher.first_name }}</h4>
                    </div>
                    <p class="font-grey">{{ teacher.city }}{% if teacher.location %}, {{ teacher.location }}{% endif %}
                    </p>
                    <div class="teacher-card-content">
                        <h5>{{ teacher.teacherprofile.teach_lang_1 }} {{ teacher.teacherprofile.teach_lang_2 }}
                            {{ teacher.teacherprofile.teach_lang_3 }}</h5>
                        <h5>{{ teacher.teacherprofile.base_price }} Ft/óra</h5>
                    </div>
                    <p class="font-grey m-0">5.0 <small><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                class="fas fa-star"></i><br>(14 értékelés)</small></p>
                    <p>&#x260e; +36 30 3546993</p>
                    <p>📩 {{teacher.email}}</p>
                    <p class="m-0">{{ teacher.teacherprofile.introduction }}</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-8">
                <h2 class="shadow-1 b-rad-7 p-3">Órarend</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h4>írj neki emailt!</h4>
                <p>
                    Ha hosszabban kifejtenéd neki a mondandód, akkor írd meg ide, mi elküldjük neki
                    email-ben, és értesítünk ha reagált!
                </p>
                <p>
                    <a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                        aria-controls="collapseExample">
                        &#x27a4; &#x27a4; &#x27a4;
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <p>
                            <h5>Levélírás ide</h5>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore culpa quam incidunt
                            tenetur, temporibus similique adipisci molestiae magnam autem ratione voluptatem quis
                            possimus iure, vitae ea. Placeat molestias sequi ad.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Pingeld meg a tanárod!</h2>
                <p>Küldj egy villám üzenetet a tanárnak hogy jó e neki az óra. Jelölj ki egy órarendi cellát ami
                    megfelelne, és kattints a Ping-re. Küldhetsz üzenetet is. Egyből értesítést kap róla, és tud
                    reagálni rá. Ha jóváhagyja,
                    már tiéd is az időpont!</p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn--130 btn-primary">Ping!</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}