{% extends "base.html" %}
{% load static %}
{% block title %}Langall{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Kezdj el tanítani!</h2><br>
                <p class="text-left">
                    Ha úgy érzed alkalmas vagy másokat tanítani, akkor add meg mikor, hol,
                    milyen órákat adnál, és ha jóváhagytad, már láthatod is magad a tanárok listájában.
                </p><br>
            </div>
        </div>


        {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-5">
                <h5>Egészítsd ki a profilod a tanítás részleteivel, és meg is vagy!</h5>
                <p>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Mehet</button>
                    </form>
                </p>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn--130 btn-secondary" href="{% url 'register' %}">Regisztráció</a>
                <a class="btn btn--130 btn-primary ml-3" href="{% url 'login' %}">Belépés</a>
            </div>
        </div>
        {% endif %}


    </div>
</section>
{% endblock %}