{% extends "base.html" %}
{% load static %}
{% block title %}Tanár felület{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <h2>Ez a saját tanár profilod!</h2>
                <p>Állíts be mindent, hogy olyan órákat tarthass, olyan körülmények között,
                    amilyeneket csak szeretnél.</p>
                <a href="{% url 'teacher_panel' %}" data-aos="fade-in" data-aos-delay="1000">&#x21bb; frissítés</a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Értesítések</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Órarend</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tanár adatok</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">


                <!-- UPCOMING START -->
                {% if top_3 %}
                <h4 class="mt-5">Következő tartandó órák:</h4>
                {% for top in top_3 %}
                <div class="p-3 mb-3 b-rad-7 shadow-1">
                    <a class="badge badge-secondary" href="{% url 'single_lesson' top.id %}">Óra info</a>
                    <span class="badge badge-light-grey">Elfogadott</span>
                    <h5>{{ top.student.last_name }} {{ top.student.first_name }}, </h5>
                    <strong>{{ top.language }}</strong><br>
                    <p>{{ top.start_time }}</p>

                </div>
                {% endfor %}
                {% else %}
                <h4 class="font-grey">Nincsenek még betervezett óráid</h4>
                {% endif %}
                <!-- UPCOMING END -->


                <!-- PASSED START -->
                {% if past_3 %}
                <h4 class="mt-5">Elmúlt óráid:</h4>
                {% for past in past_3 %}
                <div class="p-3 mb-3 b-rad-7 shadow-1">
                    <a class="badge badge-secondary" href="{% url 'single_lesson' past.id %}">Óra info</a>
                    <span class="badge badge-danger">Vége</span>
                    <h5>{{ past.student.last_name }} {{ past.student.first_name }}, </h5>
                    <strong>{{ past.language }}</strong><br>
                    <p>{{ past.start_time }}</p>

                </div>
                {% endfor %}
                {% else %}
                <h4 class="font-grey">Nincsenek még befejezett óráid</h4>
                {% endif %}
                <!-- PASSED END -->

            </div>
            <div class="col-md-8">
                <h2 class="mt-5">Órarend</h2>
                <div class="row">
                    <div class="col-12 b-rad-7 shadow-1 p-4">
                        yaa
                    </div>
                </div>

                <!-- PENDING START -->
                {% if new_requests %}
                <h2 class="mt-5">Elfogadásra váró felkeresések</h2>
                {% for new in new_requests %}
                <div class="row shadow-1 b-rad-7 mb-3">
                    <div class="col-sm-6">
                        <div class="p-3">
                            <span class="badge badge-teacher">Új!</span>
                            <h5>{{ new.student.last_name }} {{ new.student.first_name }}, </h5>
                            <strong>{{ new.language }}</strong><br>
                            {{ new.start_time }}
                        </div>
                    </div>
                    <div class="col-sm-6 d-flex justify-content-center align-items-center">
                        <button class="btn btn--130 btn-contact mr-2 js-pending-lesson-not-ok" data-l-id="{{ new.id }}"
                            data-ajax-url="{% url 'reject_lesson' %}">Visszautasítás</button>
                        <button class="btn btn--130 btn-ok js-pending-lesson-ok" data-l-id="{{ new.id }}"
                            data-ajax-url="{% url 'accept_lesson' %}">Elfogadás</button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="text-center">
                    <h2 class="mt-5 font-grey">Most nincs új felkérésed</h2>
                    <a href="{% url 'teacher_panel' %}" data-aos="fade-in" data-aos-delay="1000">&#x21bb; frissítés</a>
                </div>
                {% endif %}
                <!-- PENDING END -->
            </div>
        </div>
    </div>
</section>
{% endblock %}