{% extends "base.html" %}
{% load static %}
{% block title %}Langall{% endblock %}

{% block content %}

<section>
    <div class="container">
        <form class="row d-flex align-items-end">
            <div class="col-sm-3">
                <label for="exampleInputEmail1">Város</label>
                <input type="text" class="" id="exampleInputEmail1" placeholder="Összes">
            </div>
            <div class="col-sm-3">
                <label for="exampleInputEmail1">Nyelv</label>
                <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Összes</option>
                    <option value="1">Angol</option>
                    <option value="2">Német</option>
                    <option value="3">Francia</option>
                    <option value="3">Olasz</option>
                    <option value="3">Orosz</option>
                </select>
            </div>
            <div class="col-6 col-sm-3">
                <label for="customRange2">Ár</label>
                <input type="range" class="custom-range" min="0" max="5" id="customRange2">
                <small id="emailHelp" class="form-text text-muted">0 - 9000 Ft</small>
            </div>

            <div class="col-6 col-sm-3">
                <button type="submit" class="btn btn-primary">Mehet</button>
            </div>
        </form>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            {% for teacher in teachers %}
            <div class=" col-md-6 col-lg-4">
                <div class="teacher-card shadow-1">
                    <div class="teacher-card-header mb-4">
                        <img src="{% static 'img/male_teacher.png' %}" alt="langall tanár" width="40px">
                        <h4 class="m-0 pl-3">{{ teacher.last_name }} {{ teacher.first_name }}</h4>
                        {% if user.is_authenticated %}
                        {% if user in teacher.reverse_favourites.all %}
                        <button class="btn--fav js-fav" data-fav-teacher-id="{{teacher.id}}" data-fav-status="fav"
                            data-ajax-url="{% url 'manage_fav' %}">
                            <img src="{% static 'icons/heart_filled.png' %}" alt="langall tanár" width="25px"
                                style="opacity: 1;">
                        </button>
                        {% else %}
                        <button class="btn--fav js-fav" data-fav-teacher-id="{{teacher.id}}"
                            data-fav-status="not-fav-yet" data-ajax-url="{% url 'manage_fav' %}">
                            <img src="{% static 'icons/heart_filled.png' %}" alt="langall tanár" width="25px"
                                style="opacity: .1;">
                        </button>
                        {% endif %}
                        {% endif %}
                    </div>
                    <p class="font-grey">{{ teacher.city }}{% if teacher.location %}, {{ teacher.location }}{% endif %}
                    </p>
                    <div class="teacher-card-content">
                        <h5>{{ teacher.teacherprofile.teach_lang_1 }} {{ teacher.teacherprofile.teach_lang_2 }}
                            {{ teacher.teacherprofile.teach_lang_3 }}</h5>
                        <h5>{{ teacher.teacherprofile.base_price }} Ft/óra</h5>
                    </div>
                    <div class="teacher-card-footer">
                        <button class="btn btn--130 btn-secondary btn--pill" type="button" data-toggle="collapse"
                            data-target="#teacher-card-collapse-{{teacher.id}}" aria-expanded="false"
                            aria-controls="teacher-card-collapse-{{teacher.id}}">
                            Részletek
                        </button>
                        <p class="font-grey m-0">5.0 <small><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                    class="fas fa-star"></i><br>(14 értékelés)</small></p>
                    </div>
                    <div class="collapse teacher-card-collapse" id="teacher-card-collapse-{{teacher.id}}">
                        <div class="teacher-card-collapse-inner">
                            <p>&#x260e; +36 30 3546993</p>
                            <p>📩 {{teacher.email}}</p>
                            <p class="m-0">{{ teacher.teacherprofile.introduction }}</p>
                            {% if user.is_authenticated %}
                            <div class="text-right">
                                <a class="btn btn--130 btn-primary btn--pill mt-3"
                                    href="{% url 'single_teacher' teacher.id %}">felkeresés</a>
                            </div>
                            {% else %}
                            <hr>
                            <p class="font-grey m-0">
                                minden leírást elolvashatsz róluk, de üzenetet csak
                                <a href="{% url 'login' %}">belépés</a>
                                után írhatsz nekik
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}