{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Bejelentkezés</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Belépés</button>
                </form>
                <p>nincs még fiókod? <a href="{% url 'register' %}">regisztrálj</a></p>
                <br><br>
                <strong>-- vagy --</strong><br><br>
                <a href="{% url 'social:begin' 'facebook' %}" target="_blank">belépés facebook-al</a><br><br>
                <a href="#" target="_blank">belépés linked in-nel</a><br>
            </div>
        </div>
    </div>
</section>
{% endblock %}