{% extends "base.html" %}
{% load static %}
{% block title %}Login{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="container text-center">
        <a href="{% url 'homepage' %}">
            <h1 class="font-white mb-4">Langall.app</h1>
        </a>
        <div class="auth-card mx-auto">
            <h2>Bejelentkezés</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-right">
                    <button type="submit" class="btn btn--130 btn--pill btn-primary">Belépés</button>
                </div>
            </form>
            <p>Még nincs fiókod? <a href="{% url 'register' %}" class="link-secondary">regisztrálj!</a></p>
            <p>Elfelejtetted a jelszavad? <a href="{% url 'password_reset' %}" class="link-secondary">igényelj
                    újat</a>
            </p>
            <div class="social-spacer-wr">
                <span class="social-spacer">
                    vagy
                </span>
            </div>
            <a class="btn-with-icon btn-facebook" href="{% url 'social:begin' 'facebook' %}">
                <img src="{% static 'img/facebook_white.svg' %}" alt="facebook Belépés">
                folytatás facebook-al
            </a>
            <div class="btn-with-icon btn-linkedin btn-disabled">
                <img src="{% static 'img/linkedin.svg' %}" alt="linkedin Belépés">
                folytatás LinkedIn-nel
            </div>
        </div>
    </div>
</section>
{% endblock %}