{% extends "base.html" %}
{% load static %}
{% block title %}Jelszó változtatás{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 mx-auto">
                <h2>✔️</h2>
                <h5>Sikeresen beállítottad az új jelszavad! Mostmár beléphetsz.</h5>
                <a class="btn btn--130 btn-contact" href="{% url 'login' %}">Tovább a belépéshez</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}