{% extends "base.html" %}
{% load static %}
{% block title %}Új jelszó{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                {% if validlink %}
                <h2>Adja meg új jelszavát!</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <p>{{ field.label_tag }}

                        {{ field }}</p>
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary float-right">Mehet!</button>
                </form>
                {% else %}
                <h3 class="mb-5 text-center">
                    ❌<br><br>
                    A jelszó visszaállító link érvénytelen, valószínűleg mert már használták. Igényelj újat, vagy
                    látogass vissza a főoldalra.
                </h3>
                <div class="text-center">
                    <a class="btn btn--130 btn-primary" href="{% url 'homepage' %}">Főoldal</a>
                    <a class="btn btn--130 btn-palette-3" href="{% url 'password_reset' %}">Új jelszó igénylés</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}