{% extends "base.html" %}
{% load static %}
{% block title %}Jelszó változtatás{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Kész! ✔️</h2>
                <h5>Kiküldtük az e-mailt!</h5>
                <p>Ha bármi nehézséged adódik, nyugodtan vedd fel velünk a kapcsolatot.</p>
                <div class="col-12 text-center mt-5">
                    <a href="https://mail.google.com/mail/">
                        <img src="{% static 'img/gmail.svg' %}" alt="tovább a gmail-re" width="100px">
                        <div>tovább a gmail-re</div>
                    </a>
                </div>
                <div class="text-right mt-5">
                    <a class="btn btn--130 btn-contact" href="{% url 'contact' %}">Kapcsolat</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}