{% extends "base.html" %}
{% load static %}
{% block title %}Jelszó változtatás{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Elveszett jelszó?</h2>
                <p>Add meg az aktív fiókodhoz tartozó e-mail címed, és kiküldjük neked az instrukciókat!</p>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary float-right">Mehet!</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}