{% extends "base.html" %}
{% load static %}
{% block title %}Langall app{% endblock %}

{% block content %}
<section class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Regisztráció</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                    <small style="display: none">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Regisztráció</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}