{% extends "base.html" %}
{% load static %}
{% block title %}Langall app{% endblock %}

{% block content %}
<section class="container text-center">
    <div class="row">
        <div class="col login-block">
            <h2>Regisztráció</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Regisztráció</button>
            </form>
            <div class="social-spacer-wr">
                <span class="social-spacer">
                    vagy
                </span>
            </div>
            <a class="btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}">
                <img src="{% static 'img/facebook_white.svg' %}" alt="facebook Belépés">
                belépés facebook-al
            </a>
            <a class="btn-social btn-linkedin" href="#">
                <img src="{% static 'img/linkedin.svg' %}" alt="linkedin Belépés">
                belépés LinkedIn-nel
            </a>
        </div>
    </div>
</section>
{% endblock %}