footer {
    flex-shrink 0
    color $white
    padding-top 50px
    padding-bottom 70px

    a {
        color $white

        &:hover {
            color $white
        }
    }

    .footer-menu {
        .nav-link {
            font-weight 500
        }
    }

    @media (max-width: 575.98px) {
        padding-top 30px
        padding-bottom 40px
    }
}