.navbar {
	background-color $white
	border-bottom 1px solid rgba(0, 0, 0, .1)

	.navbar-toggler {
		.navbar-toggler-icon {
		}
	}

	.navbar-brand {
	}

	.container {
	}

	.navbar-collapse {
		.nav-item {
			.nav-link {
				color $primary
				padding 5px 30px
				font-size 18px
			}

			.nav-link-bordered {
				border 1px solid $primary
				border-radius 4px

				@media (max-width: 991px) {
					border none
				}
			}
		}
	}
}