.hero {
    background-size cover
    background-position center
    min-height 600px
    position relative
    display flex
    align-items center

    @media (max-width: 575px) {
        min-height 92vh
        padding-bottom 60px
    }

    h1 {
        font-size 80px
        margin-bottom 40px

        @media (max-width: 575px) {
            font-size 45px
        }
    }

    .btn {
        margin 4px
    }
}

#hero-1 {
    background-image url('../img/mount_bg.svg')

    @media (max-width: 575px) {
        background-image none
    }
}
