.bg-fade-1 {
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    background rgba(255, 255, 255, .1)
}

.shadow-1 {
    -webkit-box-shadow 0 0 11px -4px rgba(0, 0, 0, .75)
    -moz-box-shadow 0 0 11px -4px rgba(0, 0, 0, .75)
    box-shadow 0 0 11px -4px rgba(0, 0, 0, .75)
}