section {
    padding-top 50px
    padding-bottom 50px

    @media (max-width: 575.98px) {
        padding-top 30px
        padding-bottom 30px
    }
}

.social-spacer-wr {
    position relative
    margin 15px 0

    .social-spacer {
        display block
        color $grey

        &:before {
            content ''
            height 1px
            width 40%
            background $light-grey
            position absolute
            top 50%
            left 0
        }

        &:after {
            content ''
            height 1px
            width 40%
            background $light-grey
            position absolute
            top 50%
            right 0
        }
    }
}

.schools {
    ul {
        padding-left 30px
        list-style-type disc
    }

    li {
        margin-bottom 8px
    }
}
