section {
    padding-top 50px
    padding-bottom 50px

    @media (max-width: 575.98px) {
        padding-top 30px
        padding-bottom 30px
    }
}

.profile-header {
    display flex
    justify-content space-between
    margin-bottom 30px

    .profile-name {
        color $grey
        margin-top 14px
        font-family 'Montserrat'
        font-weight 300
        font-size 25px
    }
}

.login-block {
    text-align center
    max-width 300px
    margin auto
}

.social-spacer-wr {
    position relative
    margin 15px 0

    .social-spacer {
        display block
        color $grey

        &:before {
            content ''
            height 1px
            width 100% px
            background $light-grey
            position absolute
            top 50%
            left 0
        }

        &:after {
            content ''
            height 1px
            width 100% px
            background $light-grey
            position absolute
            top 50%
            right 0
        }
    }
}

.line-link {
    margin 15px 0

    a {
        color $secondary
    }
}

.schools {
    ul {
        padding-left 30px
        list-style-type disc
    }

    li {
        margin-bottom 8px
    }
}