.teacher-card {
    padding 30px
    border-radius 7px
    margin-bottom 20px
    height 100%
    position relative

    &:last-child {
        margin-bottom 50px
    }

    .btn {
        position absolute
        bottom 30px
    }
}

.b-rad-4 {
    border-radius 4px
}

.b-rad-7 {
    border-radius 7px
}