.teacher-card {
    padding 30px
    border-radius 7px
    margin-bottom 20px
}

.badge-teacher {
    color $white
    background $teacher-color
}

.b-rad-4 {
    border-radius 4px
}

.b-rad-7 {
    border-radius 7px
}