.teacher-card {
    padding 30px
    position relative
    border-radius 5px
    margin-bottom 30px

    @media (max-width: 575px) {
        padding 20px
        margin-bottom 20px
    }

    &-header {
        display flex
        align-items center
    }

    &-content {
        display flex
        align-items center
        justify-content space-between
    }

    &-footer {
        display flex
        align-items center
        justify-content space-between
    }

    .teacher-card-collapse {
        margin 0
        padding 0

        &-inner {
            padding-top 25px
        }
    }
}

.b-rad-4 {
    border-radius 4px
}

.b-rad-7 {
    border-radius 7px
}