.auth-section {
    background-image url('../img/students4.jpg')
    background-size cover
    background-position center
    position relative
    min-height 100vh

    a {
        &:hover {
            text-decoration none
        }
    }

    .auth-card {
        background rgba(255, 255, 255, 1)
        padding 30px
        border-radius 20px
        max-width 320px

        p {
            font-size 14px
        }
    }
}