.auth-section {
    background-image url('../img/hero-3.jpg')
    background-size cover
    background-position center
    position relative
    opacity .95
    min-height 100vh

    .auth-card {
        background rgba(255, 255, 255, .9)
        padding 30px
        border-radius 20px
        max-width 320px

        p {
            font-size 14px
        }
    }
}