.auth-section {
    background-image url('../img/hero-3.jpg')
    background-size cover
    background-position center
    opacity .95

    .auth-card {
        background $white
        padding 30px
        border-radius 8px
    }
}