.notification-corner {
    position absolute
    bottom 30px
    left 30px
    color $white
    font-weight 500
    font-size 14px

    a {
        color $white

        &:hover {
            color $white
        }
    }

    .badge {
        margin-right 12px
        border-radius 50%
        color transparent
    }
}

.badge-sticker {
    position absolute !important
    top -10px !important
    right 15px
}