section {
    padding-top 50px
    padding-bottom 50px

    @media (max-width: 575.98px) {
        padding-top 30px
        padding-bottom 30px
    }
}

.profile-header {
    display flex
    justify-content space-between
    margin-bottom 30px

    .profile-name {
        color $grey
        margin-top 14px
    }
}

.login-block {
    text-align center
    max-width 300px
    margin auto
}