$primary = #e43941
$secondary = #ff5f67
$tertiary = #FF9700
$palette-1 = #27AE60
$palette-2 = #FF9700
$palette-3 = #e43941
$palette-problem = #ff5733
$palette-deep = #2E86C1
$cold = #5DADE2
$warning = #FEC107
$facebook = #4167b2
$teacher-color = #162E22
// Greyscale shades
$black = #000000
$grey = #999999
$light-grey = #cccccc
$white = #FFFFFF
// Body
// 
// Settings for the `<body>` element.
$body-bg = $white
$body-color = $black
// Links
// 
// Style anchor elements.
$link-color = $primary
$link-decoration = none
$link-hover-color = darken($primary, -15%)
$link-hover-decoration = underline
$inputborder = $black