
// Color system
$white = #FFFFFF
$black = #000000
$grey = #DDDDDD
$primary = #0b4b33
$secondary = #44b88b
// Body
// 
// Settings for the `<body>` element.
$body-bg = $white
$body-color = $black
// Links
// 
// Style anchor elements.
$link-color = $primary
$link-decoration = none
$link-hover-color = darken($primary, -15%)
$link-hover-decoration = underline
$inputborder = $black