$primary = #e43941
$secondary = #ff5f67
// 
// 
$palette-1 = #27AE60
$palette-2 = #FEC107
$palette-3 = #FF9700
$palette-4 = #e43941
// 
// 
$water-1 = #5DADE2
$water-2 = #2E86C1
$facebook = #4167b2
$teacher-color = #162E22
// 
// 
$white = #FFFFFF
$light-grey = #cccccc
$grey = #999999
$black = #000000