@font-face {
    font-family 'Montserrat'
    src url('../fonts/montserrat/Montserrat-ExtraBold.eot')
    src url('../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-ExtraBold.woff2') format('woff2'), url('../fonts/montserrat/Montserrat-ExtraBold.woff') format('woff')
    font-weight 800
    font-style normal
}

@font-face {
    font-family 'Montserrat'
    src url('../fonts/montserrat/Montserrat-Medium.eot')
    src url('../fonts/montserrat/Montserrat-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Medium.woff2') format('woff2'), url('../fonts/montserrat/Montserrat-Medium.woff') format('woff')
    font-weight 500
    font-style normal
}

@font-face {
    font-family 'Montserrat'
    src url('../fonts/montserrat/Montserrat-ExtraLight.eot')
    src url('../fonts/montserrat/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-ExtraLight.woff2') format('woff2'), url('../fonts/montserrat/Montserrat-ExtraLight.woff') format('woff')
    font-weight 200
    font-style normal
}

@font-face {
    font-family 'Montserrat'
    src url('../fonts/montserrat/Montserrat-Bold.eot')
    src url('../fonts/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Bold.woff2') format('woff2'), url('../fonts/montserrat/Montserrat-Bold.woff') format('woff')
    font-weight bold
    font-style normal
}

@font-face {
    font-family 'Montserrat'
    src url('../fonts/montserrat/Montserrat-Light.eot')
    src url('../fonts/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Light.woff2') format('woff2'), url('../fonts/montserrat/Montserrat-Light.woff') format('woff')
    font-weight 300
    font-style normal
}

@font-face {
    font-family 'Montserrat'
    src url('../fonts/montserrat/Montserrat-Thin.eot')
    src url('../fonts/montserrat/Montserrat-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Thin.woff2') format('woff2'), url('../fonts/montserrat/Montserrat-Thin.woff') format('woff')
    font-weight 100
    font-style normal
}

@font-face {
    font-family 'Montserrat'
    src url('../fonts/montserrat/Montserrat-SemiBold.eot')
    src url('../fonts/montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-SemiBold.woff2') format('woff2'), url('../fonts/montserrat/Montserrat-SemiBold.woff') format('woff')
    font-weight 600
    font-style normal
}

@font-face {
    font-family 'Montserrat'
    src url('../fonts/montserrat/Montserrat-Regular.eot')
    src url('../fonts/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/Montserrat-Regular.woff2') format('woff2'), url('../fonts/montserrat/Montserrat-Regular.woff') format('woff')
    font-weight normal
    font-style normal
}

// font colors---------------------------------------------------------------------------------------------
.font-primary {
    color $primary
}

.font-secondary {
    color $secondary
}

.font-palette-1 {
    color $palette-1
}

.font-palette-2 {
    color $palette2
}

.font-palette-3 {
    color $palette-3
}

.font-palette-4 {
    color $spalette-4
}

.font-black {
    color $black
}

.font-grey {
    color $grey
}

.font-light-grey {
    color $light-grey
}

.font-white {
    color $white
}

.font-teacher {
    color $teacher-color
}

.welcome-type-1 {
    font-size 25px
    font-family 'Montserrat'
    font-weight 200
    color $grey
}

.giant-type-1 {
    font-size 80px
    margin-bottom 40px

    @media (max-width: 575px) {
        font-size 45px
    }
}

.link-secondary {
    color $secondary

    &:hover {
        color $secondary
    }
}

.link-grey {
    color $grey

    &:hover {
        color $grey
    }
}
