btn_colors = 'primary' $primary, 'secondary' $secondary, 'palette-1' $palette-1, 'palette-2' $palette-2, 'palette-3' $palette-3, 'palette-4' $palette-4, 'water-1' $water-1, 'water-2' $water-2, 'black' $black, 'grey' $grey, 'light-grey' $light-grey

.btn {
	for btn_color in btn_colors {
		&-{btn_color[0]} {
			color $white
			border-color btn_color[1]
			background-color btn_color[1]

			&:hover {
				color $white !important
				border-color btn_color[1]
				background-color btn_color[1] !important
			}
		}
	}
}

badge_colors = 'primary' $primary, 'secondary' $secondary, 'palette-1' $palette-1, 'palette-2' $palette-2, 'palette-3' $palette-3, 'palette-4' $palette-4, 'water-1' $water-1, 'water-2' $water-2, 'black' $black, 'grey' $grey, 'light-grey' $light-grey

.badge {
	for badge_color in badge_colors {
		&-{badge_color[0]} {
			color $white
			background-color badge_color[1]

			&:hover {
				color $white !important
				background-color badge_color[1] !important
			}
		}
	}
}

// BUTTON SIZES ----------------------------------------------
.btn--130 {
	min-width 130px !important
}

.btn--250 {
	min-width 250px !important
}

.btn--pill {
	font-size 14px
	font-weight 500
	border-radius 1.4em
	padding .65em .75em
}

// BUTTON COLORS ---------------------------------------------
.btn {
	&:hover {
		color $white
		filter brightness(108%)
	}
}

.btn-with-icon {
	padding .6em
	margin 10px 0
	border-radius 4px
	font-weight bold
	position relative

	img {
		height 20px
		position absolute
		top 50%
		transform translateY(-50%)
		left 15px
	}
}

.btn-facebook {
	display block
	color $white
	background $facebook

	&:hover {
		color $white
		text-decoration none
	}
}

.btn-linkedin {
	display block
	color #0274b2
	background #f2f6f9

	&:hover {
		color #0274b2
		text-decoration none
	}
}

.btn-teacher {
	width 100%
	max-width 270px
	color $white
	background $teacher-color
}
