* {
	outline 0 !important
}

html {
	font-family system-ui
	font-size 15px
}

body {
	min-height 100vh
	display flex
	flex-direction column
}

main {
	flex 1 0 auto
}

h1 {
	margin-bottom 30px
}

h2 {
	margin-bottom 25px
}

h3 {
	margin-bottom 15px
}

.p-relative {
	position relative
}

// hiders ---------------------------------
@media (min-width: 768px) {
	.o-md-hide {
		display none !important
	}
}

@media (max-width: 767px) {
	.u-md-hide {
		display none
	}
}

@media (min-width: 576px) {
	.mobile-show {
		display none
	}
}

@media (max-width: 575px) {
	.mobile-hide {
		display none
	}
}
