{% load static %}
<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}Langall app{% endblock %}</title>
    <link rel="icon" type="image/png" href="{% static 'img/icon_100.png' %}" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="{% static 'css/vendor.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    {% block extra_stylesheets %} {% endblock %}
</head>

<body>
    {% block navigation %}
    <nav id="menu" class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container">
            <a class="navbar-brand navbar-brand-home" href="{% url 'homepage' %}">
                <img src="{% static 'img/logo_shadow.svg' %}" height="40">
            </a>
            <button class="navbar-toggler hamburger hamburger--collapse" type="button" data-toggle="collapse"
                data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Menu">
                <!-- <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span> -->
                <img src="{% static 'icons/menu_x.svg' %}" height="30">
            </button>
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'teachers' %}">Tanárok</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="#">Kedvencek</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">Rólunk</a></li>
                    {% if user.is_authenticated %}
                    {% if user.is_teacher %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'teacher_panel' %}">Tanári felületem</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Profil</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link nav-link-bordered" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Regisztráció</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer class="bg-dark text-left">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-start">
                        <a href="{% url 'homepage' %}">
                            <img src="{% static 'img/icon_graphic.svg' %}" alt="" width="50px" class="mr-4">
                        </a>
                        <a href="{% url 'homepage' %}">
                            <h2>Langall</h2>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <ul>
                        <li>
                            <a class="nav-link" href="{% url 'about' %}">Rólunk</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'teachers' %}">Tanárok</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'homepage' %}">Főoldal</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'exams' %}">Nyelvvizsga lehetőségek</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'contact' %}">Kapcsolat</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <ul>
                        <li>
                            <a class="nav-link" href="#">langall.app@gmail.com</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">+36 30 687 8966</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    {% block extra_scripts %} {% endblock %}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'js/vendor.min.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}"></script>

</body>

</html>