{% extends "base.html" %}
{% load static %}
{% block title %}Langall app{% endblock %}
{% block extra_stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">{% endblock %}

{% block content %}

<!-- HERO BEGIN -->
<section class="hero jarallax" id="hero-1">
    <!-- add id="hero-1" and jarallax class for bg -->
    <span class="bg-fade-black"></span>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 mx-auto">
                {% if user.is_authenticated %}
                <h3 class="welcome-type-1" data-aos="fade-down">Üdv {{ user.first_name }}!</h3>
                <br>
                <!-- <a class="btn btn-cold" href="{% url 'logout' %}">Kijelentkezés</a> -->
                {% endif %}
                <h1 data-aos="fade-in">Langall.app</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio architecto omnis et atque sint quasi,
                    vero eius minus excepturi, in, quae quaerat voluptatem ratione rem ducimus cupiditate impedit
                    aliquam suscipit. impedit
                    aliquam suscipit.
                </p>
                {% if user.is_teacher %}
                <a class="btn btn-with-icon btn-teacher-secondary mt-2" href="{% url 'teacher_panel' %}">
                    <img src="{% static 'img/book_icon.png' %}" alt="facebook Belépés">
                    Tanári felületem
                    {% if new_requests %}
                    <span class="badge badge-sticker badge-danger">{{new_requests}}</span>
                    {% endif %}
                </a>
                {% else %}
                <a class="btn btn--130 btn-secondary" href="{% url 'teachers' %}">Keress tanárt!</a>
                <a class="btn btn--130 btn-primary" href="{% url 'start_teaching' %}">vagy tanítanál?</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="notification-corner mobile-hide" data-aos="fade-up">

        <a href="{% url 'teacher_panel' %}"><span
                class="badge badge-palette-1">0</span>{% if new_replies %}{{new_replies}} új
            válasz{% endif %}</a><br>


        <a href="{% url 'teacher_panel' %}"><span
                class="badge badge-palette-2">0</span>{% if new_requests %}{{new_requests}}
            új felkérés{% endif %}</a><br>
        <a href="{% url 'teacher_panel' %}"><span
                class="badge badge-palette-4">0</span>{% if missed_requests %}{{missed_requests}}
            elmúlasztott
            értesítés{% endif %}</a>
    </div>
    {% endif %}
</section>
<!-- HERO END -->




<!-- FEATURES BEGIN -->
<section>
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col-sm-6 col-md-4">
                <img src="{% static 'img/teacher-100.png' %}" alt="" height="80px" class="mb-3 mt-4">
                <h5 class="font-secondary font-montserrat">Keress magadnak tanárokat</h5>
                <p>
                    Válaszd ki melyik városban, milyen nyelven szeretnél tanulni, és találd meg a neked való tanárt!
                </p>
            </div>
            <div class="col-sm-6 col-md-4">
                <img src="{% static 'img/timetable-100.png' %}" alt="" height="80px" class="mb-3 mt-4">
                <h5 class="font-secondary font-montserrat">Válassz szabadon időpontot</h5>
                <p>
                    A tanároknak élő, folyamatosan frissített órarendje van, ahol láthatod mikor tudnak fogadni.
                    Ha találsz jó időpontot azonnal le is foglalhatod, nem kell sem várni sem telefonálgatni.
                </p>
            </div>
            <div class="col-sm-6 col-md-4">
                <img src="{% static 'img/communication-100.png' %}" alt="" height="80px" class="mb-3 mt-4">
                <h5 class="font-secondary font-montserrat">Üzenj nekik</h5>
                <p>
                    Ha bejelentkeztél láthatod a tanárok összes elérhetőségét, kérdezhetsz tőlük,
                    és felkeresheted őket telefonon vagy e-mailben.
                </p>
            </div>
            <div class="col-sm-6 col-md-4">
                <img src="{% static 'img/rating-100.png' %}" alt="" height="80px" class="mb-3 mt-4">
                <h5 class="font-secondary font-montserrat">Értékeld őket</h5>
                <p>
                    Segíthetitek egymás választását, és a tanárok munkáját értékelésekkel.
                </p>
            </div>
            <div class="col-sm-6 col-md-4">
                <img src="{% static 'img/graduation-100.png' %}" alt="" height="80px" class="mb-3 mt-4">
                <h5 class="font-secondary font-montserrat">Nyelvvizsgázz</h5>
                <p>
                    Ha úgyérzed felkészültél, de nemtudod hol nyelvvizsgázz, mi segítünk.
                </p>
            </div>
            <div class="col-sm-6 col-md-4">
                <img src="{% static 'img/guru-100.png' %}" alt="" height="80px" class="mb-3 mt-4">
                <h5 class="font-secondary font-montserrat">Vagy taníts te magad!</h5>
                <p>
                    Eleget tudsz, hogy taníts másokat? Regisztrálj be és adj annyi órát amennyit szeretnél.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="full-bleed-img">
    <div class="container text-center font-white">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-5 font-montserrat">Kezdj bele a nyelvtanulásba</h1>
                <p>Célunk, hogy lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Optio vero sequi explicabo perspiciatis quos earum magnam?
                    Nulla qui adipisci aut numquam. Beatae enim nam vero ea ipsam?
                    Magni, aliquid veniam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Esse ipsa dolore sequi ab est nobis fugit, nulla totam non quo saepe laborum id delectus,
                    suscipit beatae voluptate odio et modi. Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Sequi rem facilis culpa quod, non nulla ex voluptate esse
                    voluptatum alias cupiditate tempore asperiores, repellendus enim deleniti explicabo! Sint,
                    soluta officia?
                </p>
            </div>
        </div>
    </div>
</section>




<section>
    <div class="container">
        <div class="row text-center font-secondary statistics font-montserrat">
            <div class="col-4">
                <h2>{{ num_users }}</h2>
                <h3>felhasználó</h3>
            </div>
            <div class="col-4">
                <h2>{{ num_teachers }}</h2>
                <h3>tanár</h3>
            </div>
            <div class="col-4">
                <h2>{{ num_lessons }}</h2>
                <h3>regisztrált tanóra</h3>
            </div>
        </div>
    </div>
</section>
<hr>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo sequi nihil porro obcaecati
                quaerat
                temporibus facere expedita quo qui, aliquid fugiat accusantium quis eum at. Molestiae corporis
                cumque
                eligendi non. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur tempora magnam
                ea quis
                sequi? Recusandae reiciendis, quisquam quas impedit nihil, labore voluptates at est eos, et eius
                beatae
                rerum iure!
            </div>
            <div class="col-md-4 mt-5">
                <canvas id="language-popularity-chart" width="400" height="400"></canvas>
            </div>
        </div>
        <hr>
        <div class="row schools">
            <div class="col-12 text-center mt-5 mb-4">
                <h2>Iskolák</h2>
            </div>
            <div class="col-md-4">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Ducimus, nam praesentium. Optio voluptatum provident harum
                    nostrum ipsa repudiandae dolor vitae eveniet, earum a quam.
                    Quae quidem amet voluptas cum qui!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Ducimus, nam praesentium. Optio voluptatum provident harum
                    nostrum ipsa repudiandae dolor vitae eveniet, earum a quam.
                    Quae quidem amet voluptas cum qui!
                    nostrum ipsa repudiandae dolor vitae eveniet, earum a quam.
                    Quae quidem amet voluptas cum qui!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Ducimus, nam praesentium. Optio voluptatum provident harum
                    nostrum ipsa repudiandae dolor vitae eveniet, earum a quam.
                    Quae quidem amet voluptas cum qui!
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    Sit amet consectetur adipisicing elit.
                    Ducimus, nam praesentium. Optio voluptatum provident harum
                    nostrum ipsa repudiandae dolor vitae eveniet, earum a quam.
                    Quae quidem amet voluptas cum qui!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Ducimus, nam praesentium. Optio voluptatum provident harum
                    nostrum ipsa repudiandae dolor vitae eveniet, earum a quam.
                    Quae quidem amet voluptas cum qui!
                    nostrum ipsa repudiandae dolor vitae eveniet, earum a quam.
                    Quae quidem amet voluptas cum qui!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Ducimus, nam praesentium. Optio voluptatum provident harum
                    nostrum ipsa repudiandae dolor vitae eveniet, earum a quam.
                    Quae quidem amet voluptas cum qui!vitae eveniet, earum a quam.
                    Quae quidem amet voluptas cum qui!
                </p>
            </div>
            <div class="col-md-4">
                <p>
                    Amet consectetur adipisicing elit.
                    Ducimus, nam praesentium. Optio voluptatum provident harum
                    nostrum ipsa repudiandae dolor vitae eveniet, earum a quam.
                    Quae quidem amet voluptas.
                </p>
                <ul>
                    <li>Nyelvvizsgázz egy kiemelt akkreditált helyen</li>
                    <li>Szerezz kedvezményeket</li>
                    <li>Olcsóbb re-vizsga</li>
                    <li>Csoportos kedvezmények</li>
                    <li>Taníts nálunk!</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <h2 class="font-montserrat mb-3 mt-4">Tanárok</h2>
                <div class="row">
                    {% for teacher in sample_teachers %}
                    <div class=" col-md-4">
                        <div class="teacher-card shadow-1">
                            <img src="{% static 'img/male_teacher.png' %}" alt="langall tanár" width="40px">
                            <h4>{{ teacher.last_name }} {{ teacher.first_name }}</h4>
                            <p>{{ teacher.city }}{% if teacher.location %}, {{ teacher.location }}{% endif %}</p>
                            <p>{{ass.extra_data.picture.data.url}}</p>
                            <h5>{{ teacher.teacherprofile.teach_lang_1 }} {{ teacher.teacherprofile.teach_lang_2 }}
                                {{ teacher.teacherprofile.teach_lang_3 }}</h5>
                            <h5>{{ teacher.teacherprofile.base_price }} Ft/óra</h5>
                            <p>5.0 <small>(14 értékelés)</small></p>
                            {% if user.is_authenticated %}
                            <p>&#x260e; +36 30 3546993</p>
                            <p>📩 {{teacher.email}}</p>
                            {% else %}
                            <p>&#x260e; +36...</p>
                            <p>📩 ...</p>
                            {% endif %}
                            <p>{{ teacher.teacherprofile.introduction }}</p>
                            {% if user.is_authenticated %}
                            <a class="btn btn--130 btn-secondary"
                                href="{% url 'single_teacher' teacher.id %}">felkeresés</a>
                            {% else %}
                            <hr>
                            <p class="font-grey">
                                minden leírást elolvashatsz róluk, de a kapcsolatot csak
                                <a href="{% url 'login' %}">belépés</a>
                                után veheted fel velük
                            </p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-primary" href="{% url 'teachers' %}">Összes megtekintése</a>
        </div>
    </div>
</section>
{% endblock %}






{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    var lang_chart_1 = document.getElementById('language-popularity-chart');
    var myChart = new Chart(lang_chart_1, {
        type: 'bar',
        data: {
            labels: ['Angol', 'Spanyol', 'Német', 'Olasz', 'Orosz', 'Kínai'],
            datasets: [{
                label: '# nyelvek iránti érdeklődés',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor:
                    'rgba(255, 99, 132, 0.2)',
                borderColor:
                    'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    gridLines: {
                        display: false
                    }
                }]
            }
        }
    });
</script>
{% endblock %}