{% extends "base.html" %}
{% load static %}
{% block title %}Langall app{% endblock %}
{% block extra_stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">{% endblock %}

{% block content %}

<!-- HERO BEGIN -->
<section class="hero jarallax shadow-2" id="hero-1">
    <!-- add id="hero-1" and jarallax class for bg -->
    <span class="bg-fade-black"></span>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 mx-auto">
                {% if user.is_authenticated %}
                <h3 class="welcome-type-1" data-aos="fade-down">Üdv {{ user.first_name }}!</h3>
                <br>
                <!-- <a class="btn btn-cold" href="{% url 'logout' %}">Kijelentkezés</a> -->
                {% endif %}
                <h1 data-aos="fade-in">Langall.app</h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio architecto omnis et atque sint quasi,
                    vero eius minus excepturi, in, quae quaerat voluptatem ratione rem ducimus cupiditate impedit
                    aliquam suscipit. impedit
                    aliquam suscipit.
                </p>
                {% if user.is_teacher %}
                <a class="btn btn-with-icon btn-teacher-secondary mt-2" href="{% url 'teacher_panel' %}">
                    <img src="{% static 'img/book_icon.png' %}" alt="facebook Belépés">
                    Tanári felületem
                    {% if new_requests %}
                    <span class="badge badge-sticker badge-danger">{{new_requests}}</span>
                    {% endif %}
                </a>
                {% else %}
                <a class="btn btn--130 btn-secondary" href="{% url 'teachers' %}">Keress tanárt!</a>
                <a class="btn btn--130 btn-primary" href="{% url 'start_teaching' %}">vagy tanítanál?</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="notification-corner mobile-hide" data-aos="fade-up">

        <a href="{% url 'teacher_panel' %}"><span class="badge">&nbsp;</span>{% if new_replies %}{{new_replies}} új
            válasz{% endif %}</a><br>


        <a href="{% url 'teacher_panel' %}"><span class="badge">&nbsp;</span>{% if new_requests %}{{new_requests}}
            új felkérés{% endif %}</a><br>
        <a href="{% url 'teacher_panel' %}"><span class="badge">&nbsp;</span>{% if missed_requests %}{{missed_requests}}
            elmúlasztott
            értesítés{% endif %}</a>
    </div>
    {% endif %}
</section>
<!-- HERO END -->



{% endblock %}