{% extends "base.html" %}
{% load static %}
{% block title %}Profil{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <h1>
                    Új social account ! <br>
                    Köszönjük, hogy regisztráltál!
                </h1>
                <h4>Közösségi fiókkal regisztráltál -</h4>
                <p>Adj meg egy jelszót, hogy be tudj majd lépni facebook vagy LinkedIn nélkül is bármikor.</p>
                <a class="btn btn--130 btn-primary" href="{% url 'homepage' %}">tovább a főoldalra</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}