{% extends "base.html" %}
{% load static %}
{% block title %}Profil{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="profile-header">
                    <h1>Profil</h1>
                    <div class="text-center">
                        <h5 class="profile-name">{{ profile.last_name }} {{ profile.first_name }}</h5>

                        <a class="btn btn-cold u-md-hide" href="{% url 'logout' %}">Kijelentkezés</a>
                    </div>
                </div>
                <p>{{ profile.last_name }}</p>
                <p>{{ profile.first_name }}</p>
                <p>{{ profile.email }}</p>
                <p>{{ profile.city }}</p>
                <p>{{ profile.location }}</p>
                <p>{{ profile.interest_lang_1 }}</p>
                <p>{{ profile.interest_lang_2 }}</p>
                <p>{{ profile.interest_lang_3 }}</p>
                <div class="d-flex justify-content-end o-md-hide">
                    <a class="btn btn-cold" href="{% url 'logout' %}">Kijelentkezés</a>
                </div>
            </div>
        </div>
        <hr>

        <h3>{{ message }}</h3>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="row row--form">
                <div class="col-sm-4 col-lg-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-sm-5 col-lg-3">
                    {{ field }}
                </div>
                {% if field.help_text %}
                <small style="display: none">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <div>
                <button type="submit" class="btn btn-primary d-block ml-auto">Mentés</button>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <hr>
                <h2>Érdekel a tanítás?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Nihil, incidunt possimus facere ab quam blanditiis laborum,
                    molestiae optio eum impedit aspernatur quaerat quibusdam,
                    earum corporis recusandae odio minus labore cupiditate.
                </p>
                <a class="btn btn-primary" href="{% url 'start_teaching' %}">Tovább</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}