{% extends "base.html" %}
{% load static %}
{% block title %}Langall{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Lépj be az email fiókodba és erősítsd meg a regisztrációt egy kattintással!</h3>
                <a href="https://mail.google.com/mail/" target="_blank">
                    <div>tovább a gmail-re</div>
                    <img src="{% static 'img/gmail.svg' %}" alt="tovább a gmail-re" width="100px">
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}