<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Változtasd meg a jelszavad!</title>
</head>

<body>
    <div style="text-align: center;">
        <h1>Kattints a linkre és add meg az új jelszavad!</h1>
        <p>
            Kedves {{ user.first_name }},
            Jelszó visszaállítást kértél a {{ email }} e-mail címmel regisztrált fiókodra.
            Kattints a linkre és add meg az új jelszavad. A link egyszeri használatra alkalmas.
        </p>
        {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    </div>
</body>

</html>